<nav>
    <img src="dragonfly.png" alt="Logo">
    <div>
        <a class="navlink" href="/posts">Home </a> 
      <a class="navlink" href="/create">New post</a>
    </div>
    <img id="userInfoIcon" src="alex.png" alt="userIcon">
  </nav>