<nav>
    <img src="https://i.imgur.com/vlhWSac.png" alt="Logo">
    <div>
        <a class="navlink" href="/posts">Home </a> 
      <a class="navlink" href="/create">New post</a>
    </div>
    <img id="userInfoIcon" src="https://cdn.vox-cdn.com/thumbor/3-aTzyoIvirEUDABoLUCTjv84LY=/1400x1400/filters:format(jpeg)/cdn.vox-cdn.com/uploads/chorus_asset/file/22326168/gandalf_shire_lord_of_the_rings.jpg" alt="userIcon">
  </nav>