<nav>
    <img src="https://i.imgur.com/vlhWSac.png" alt="Logo">
    <div>
        <a class="navlink" href="/posts">Home </a> 
      <a class="navlink" href="/create">New post</a>
    </div>
    <img id="userInfoIcon" src="https://external-preview.redd.it/On7eiZzewvGWilxLRZX77N-SZKNt4jS4VMJX7ZSh88A.jpg?auto=webp&s=a3df8bb3c50479e3e74e6adf59da0d9964d39b76" alt="userIcon">
  </nav>