<nav>
    <img src="https://i.imgur.com/vlhWSac.png" alt="Logo">
    <div>
        <a class="navlink" href="/posts">Home </a> 
      <a class="navlink" href="/create">New post</a>
    </div>
    <img id="userInfoIcon" src="https://storage.googleapis.com/gamebyte/2019/10/5c0738ec-bfa7-4bbd-a1da-b298e56b1e5e.jpg" alt="userIcon">
  </nav>