<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<%- include('./partials/navbar.ejs') %>

<h1>The page does not exist</h1>
<%- include('./partials/footer.ejs') %>

</body>
</html>