<html lang="en">
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=>, initial-scale=1.0">
<link rel="stylesheet" href="/style.css">
<title> Create a post</title>
<body>

<%- include('./partials/navbar.ejs') %>
 <section>
 <div class="create-post">
 <form action="/posts" method="POST">

 <label for="title">Post title:</label>
 <input type="text" id="title" name="title" required><br><br>

 <label for="body">Post body:</label>
 <input type="text" id="body" name="body" required><br><br>

 <label for="commentpicture">Post comment picture:</label>
 <input type="text" id="commentpicture" name="commentpicture" required><br><br>
 <button>Submit</button>
 </form>
</section>
 </div>
 <%- include('./partials/footer.ejs') %>
</body>
</html>